In [ ]:
# * What is Programming ?  --> Tool to instruct machines to perform task.
# Bridge b/w human logic and machine execution.

# Natural Lnaguage --- Humans
# Programming language -- Machines

# ** Many Languages

# Python -- Data Processing, Automation, ML, Analytucs, Dashboarding, IoT

# C/C++ -- Hardware control, Embedded systems

# Java -- Enterprise systems, ERP integerations

# SQL -- Data retrievals, storage of data

# ** Type of PL

#   --> High- Level --> Python, Java, C#  (Human Friendly)
#   --> Low-Level --> Closer to machine code (Assembly, C)
#   --> Object - Oriented -- C++, Python, Java

# ** How you will do programming ?

# 1) Google Colab -- No installation, No hardware required. Only interent and gmail account needed

# 2) On your computer -- python install, complex/computation intensive operations --> need good RAM,CPU, GPU. No internet required as such if you're
#  not installing any library untill/unless your library needs internet/API call

In [ ]:
# from typing import ValuesView

# ** common concepts around Programming**

# 1) Variable -- store data
# what data you store -- tells , how you should store it..

# 2) Keywords -- some pre-defined functions or tools or utilities.., if, for, in, type

# 3) DataTypes
# Primitive/Fundamental/Basic DataTypes
#   * int -- Integer, behave and support Arithmetic operations
#   * float -- Integer with floating values
#   * str -- String, just like some combination of characters (whatever you see on keyboard)

# **Complex/Advanced DataTypes**

# Example - Instead of one temperature value, you want to store multiple temp. values

# * list -- store multiple Values
#   How to access/use list --
#   1) len -- length of list, how many values are present in it
#   2) if you want to access say 1st value ,, l[0]  -> in programming , everything starts from 0. 1 in real world is 0 in programming.
#   3) Slicing -- access multiple values from list in single go
#   4) scroll through list in automated manner -- USAGE of LOOP

# * Dictionary -- key/value mappping pair ..

In [ ]:
for machine, what all info you Store

* machine ID
* machine parameters -- temp, pressure, vaccum
* results -- actual values

In [47]:
temp1 = [10.9,22.4,33.5,44.6]

In [48]:
temp1.append(40.88)

In [49]:
temp1

[10.9, 22.4, 33.5, 44.6, 40.88]

In [ ]:
variable (int,float)  --> multiple values --> list  --> multiple lists --> dictionaries..

In [79]:
machine_data = {
    "m1": {
        "temperature":[],
        "pressure":[]
    },
    "m2":{
        "temperature":[],
        "pressure":[]
    },
    "m3":{
        "temperature":[],
        "pressure":[]
    },
    "m4":{
        "temperature":[],
        "pressure":[]
    },
    "m5":{
        "temperature":[],
        "pressure":[]
    }
}

In [64]:
import random
machine_names = list(machine_data.keys())
print(machine_names)
machine_features = list(machine_data["m1"].keys())
print(machine_features)

['m1', 'm2', 'm3', 'm4', 'm5']
['temperature', 'pressure']

In [ ]:
### Basic Simulation

In [73]:
machine_data

{'m1': {'temperature': '23.75', 'pressure': 17.6},
 'm2': {'temperature': 21.34, 'pressure': 18.8},
 'm3': {'temperature': 11.5, 'pressure': []},
 'm4': {'temperature': [], 'pressure': 17.3},
 'm5': {'temperature': [], 'pressure': []}}

In [75]:
machine_data[machine_name][feature_name]

21.34

In [80]:
for i in range(20):
  machine_name = random.choice(machine_names)
  feature_name = random.choice(machine_features)
  value = float(input(f"Enter {feature_name} for Machine: {machine_name} "))
  machine_data[machine_name][feature_name].append(value)

Enter temperature for Machine: m5 22.3
Enter temperature for Machine: m3 22.4
Enter temperature for Machine: m1 22.5
Enter pressure for Machine: m4 22.6
Enter temperature for Machine: m2 22.7
Enter temperature for Machine: m3 22.8
Enter pressure for Machine: m2 998.44
Enter temperature for Machine: m2 99
Enter pressure for Machine: m5 887
Enter pressure for Machine: m2 87
Enter pressure for Machine: m2 88.3
Enter temperature for Machine: m5 33.4
Enter temperature for Machine: m5 55.7
Enter pressure for Machine: m2 44.1
Enter pressure for Machine: m4 99.6
Enter temperature for Machine: m4 110.2
Enter temperature for Machine: m3 22.2
Enter temperature for Machine: m2 33.4
Enter pressure for Machine: m2 55.6
Enter pressure for Machine: m3 77.8

In [82]:
from pprint import pprint
pprint(machine_data)

{'m1': {'pressure': [], 'temperature': [22.5]},
 'm2': {'pressure': [998.44, 87.0, 88.3, 44.1, 55.6],
        'temperature': [22.7, 99.0, 33.4]},
 'm3': {'pressure': [77.8], 'temperature': [22.4, 22.8, 22.2]},
 'm4': {'pressure': [22.6, 99.6], 'temperature': [110.2]},
 'm5': {'pressure': [887.0], 'temperature': [22.3, 33.4, 55.7]}}

In [84]:
machine_data["m2"]["pressure"]

[998.44, 87.0, 88.3, 44.1, 55.6]

In [50]:
machine_data = {
    "m1": [10.9,22.4,33.5,44.6],
    "m2":[111,22,3,4],
    "m3":[32563,2783,373,277],
    "m4":[11,233,45,666],
    "m5":[6,99,8]
}

In [56]:
machine_data["m6"]

KeyError: 'm6'

In [ ]:
2 Machines

M1 -- temp_value_m1 = [10.9,22.4,33.5,44.6]

M2 -- temp_values_m2 = [10.7,333.8,77.4,3.2]

temp_values_m3

temp_values_m4

temp_values_m1000

In [ ]:
# devices
employees = ["A","B","C","D","E","F","G"]

In [ ]:
pressure, flow, vibration, velocity, conductivity, etc..

In [38]:
temp1 = 36.5
temp2 = 50.9
temp3 = 88
temp4 = 7
temp5 = 99.9

print(f'''Temp1 type -  {type(temp1)}
Temp2 type - {type(temp2)}
Temp3 type - {type(temp3)}
Temp4 type - {type(temp4)}
Temp5 type - {type(temp5)}''')

temp_values = [temp1,temp2,temp3, temp4, temp5]
print(f"Type of temp_values -- {type(temp_values)}")

Temp1 type -  <class 'float'>
Temp2 type - <class 'float'>
Temp3 type - <class 'int'>
Temp4 type - <class 'int'>
Temp5 type - <class 'float'>
Type of temp_values -- <class 'list'>

In [42]:
for temp in temp_values:
  if temp> 30:
    print(temp)

36.5
50.9
88
99.9

In [40]:
temp_values[1:3]

[50.9, 88]

In [ ]:
# [36.5, 50.9,88,7,99.9] ---> Actual Values

# [0,1,2,3,4]  --> Index

In [35]:
temp_values[2]

88

In [37]:
type(temp_values)

list

In [36]:
type(temp_values[2])

int

In [17]:
temp_values = [36.5, 50.9,88,7,99.9]
type(temp_values)

list

In [22]:
temp_values[0],temp_values[1],temp_values[2]

(36.5, 50.9, 88)

In [18]:
len(temp_values)

5

In [13]:
temperature = 36.5

In [14]:
type(temperature)

float

In [15]:
a=10.0
type(a)

float

In [16]:
a+30

40.0

In [7]:
a = 10
print(type(a))

<class 'int'>

In [8]:
a+30

40

In [9]:
a = "10"
print(type(a))

<class 'str'>

In [11]:
a = "name"

In [12]:
a+30

TypeError: can only concatenate str (not "int") to str

In [2]:
name = "aakash"

In [3]:
print(f"My name is {name}")

My name is aakash